*{
    margin: 0px;
}

.navbar{
    background-color: pink;
     display: flex; 
     justify-content: space-evenly; 
   
    
}
a{
    text-decoration: none;
    color: black;
   
}
li{
    list-style-type: none;
    display: inline;
  
}

body{
    background-image: url(k.jpg);
background-size: cover;

}
h1{
    text-align: center;
 
}
h3{
    text-align: center;
}
#box{
    height:300px;
    width: 200px;
    background-color: black;
    border-radius: 30px top;
    background-image: url(ss.jpg);
    background-size: cover;
    /* border-top-left-radius: 50%; */
    border-top-right-radius: 50%;
}
p{
color:rgb(25,133,145)
}
H2{
text-align: center;
}

.container{
    height: 250px;
    width: 100vw;
    border: 2px solid black;
     display:flex;
      justify-content:space-evenly;
   

} 
#box1{
    height: 250px;
    width: 200px;
    background-image: url("2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius:30px;
    border-top-right-radius:30px;

}
.c1{
    height: 20px;
    margin-top: 230px;
    text-align: center;
    color:black;
    background-color: azure;
}
#box2{
    height: 250px;
    width: 200px;
    background-image: url("sahu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius:30px;
    border-top-right-radius:30px;

}
.c2{
    height: 20px;
    margin-top: 230px;
    text-align: center;
    color:black;
    background-color: azure;
}

#box3{
    height: 250px;
    width: 200px;
    background-image: url("3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius:30px;
    border-top-right-radius:30px;

}
.c3{
    height: 20px;
    margin-top: 230px;
    text-align: center;
    color:black;
    background-color: azure;
}
.c{
    margin-left: 300px;
    text-align: left;
   
}
#box{
    display: flex;
}
button{
    background-color: red;
}
button:hover{
    background-color: green;
}

